html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	display: flex;

	/* This centers our sketch horizontally. */
	justify-content: center;

	/* This centers our sketch vertically. */
	align-items: center;

	background-color: black;
}

canvas {
	display: block;
}
